[submodule "frontend/deps/reflex-dom"]
	path = frontend/deps/reflex-dom
	url = https://github.com/reflex-frp/reflex-dom.git
[submodule "frontend/deps/reflex"]
	path = frontend/deps/reflex
	url = https://github.com/reflex-frp/reflex.git
[submodule "frontend/deps/reflex-dom-contrib"]
	path = frontend/deps/reflex-dom-contrib
	url = https://github.com/reflex-frp/reflex-dom-contrib.git
[submodule "frontend/deps/jsaddle"]
	path = frontend/deps/jsaddle
	url = https://github.com/ghcjs/jsaddle.git
[submodule "frontend/deps/gtk2hs"]
	path = frontend/deps/gtk2hs
	url = https://github.com/gtk2hs/gtk2hs.git
[submodule "aeson"]
	path = aeson
	url = https://github.com/bos/aeson.git
	branch = master
[submodule "frontend/deps/aeson"]
	path = frontend/deps/aeson
	url = https://github.com/bos/aeson.git
	branch = origin/7f2a12c1deacb5c1fa58fe8842fd14d1915e01d1
