[submodule "frontend/deps/reflex-dom"]
	path = frontend/deps/reflex-dom
	url = https://github.com/reflex-frp/reflex-dom.git
[submodule "frontend/deps/reflex"]
	path = frontend/deps/reflex
	url = https://github.com/reflex-frp/reflex.git
[submodule "frontend/deps/reflex-dom-contrib"]
	path = frontend/deps/reflex-dom-contrib
	url = https://github.com/reflex-frp/reflex-dom-contrib.git
[submodule "frontend/deps/jsaddle"]
	path = frontend/deps/jsaddle
	url = https://github.com/ghcjs/jsaddle.git
[submodule "frontend/deps/aeson"]
	path = frontend/deps/aeson
	url = https://github.com/bos/aeson.git
	branch = master
[submodule "frontend/deps/dependent-sum-template"]
	path = frontend/deps/dependent-sum-template
	url = https://github.com/mokus0/dependent-sum-template
[submodule "frontend/deps/text"]
	path = frontend/deps/text
	url = https://github.com/bos/text.git
